body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    padding: 15px;
    margin: 0;
}

#title, #about {
    display: inline;
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
}

#people {
    font-style: italic;
}

.body {
    width: 60%;
}