<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./style.css')}}" />
    </head>
    <body>
        <!--comments-->
        <div class="puppy">Fluffy <a href="puppy.html">puppy</a>!</div>  
        Sentimental papaya! 
        <img id="dog" src="img/puppy.png" /> 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vDa0z0gEvI4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </body>
</html>