<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./style.css')}}" />
        <script src="{{ url_for('static', filename='./script.js')}}" type="text/javascript"></script>
    </head>
    <body> 
        <div class="body">
            <p>Move the sliders to influence the generation process. The bigger the numbers, the more likely to generate original project descriptions. </p>
            <p>Title: 1 <input id="title_slider" type="range" min="1" max="10" value="2" /> 10</p> 
            <p>Makers: 1 <input id="people_slider" type="range" min="1" max="10" value="2" /> 10</p> 
            <p>Description: 1 <input id="project_slider" type="range" min="1" max="10" value="2" /> 10</p> 
            <button id="button1">Generate again!</button>
            <br/>
            <br/>
            <div>
                <p id="title"></p>
                <p id="people"></p>
                <p id="project"></p>
            </div>
        </div>
        <br/>
        <br/>
        <div class="body">
            <p id="about">ABOUT THE EXPO</p>
            <p>In this expo creative researchers from the Leiden University Media Technology MSc program will imagineer new realities, blending art, science and technology. Move the sliders below to blend art, science and technology. </p>
            <p>Art: 0 <input id="art_value" type="range" min="0" max="10" value="0" /> <span id="art_update"></span></p> 
            <p>Science: 0 <input id="sci_value" type="range" min="0" max="10" value="0" /> <span id="sci_update"></span></p> 
            <p>Technology: 0 <input id="tech_value" type="range" min="0" max="10" value="0" /> <span id="tech_update"></span></p> 
            <p id="newabout"></p>
        </div>
    </body>
</html>